@charset "utf-8";
body { overflow-x: hidden; width: 100%; }
a {color: inherit; text-decoration: none;}

.tit-area {margin-left: 75px;}
.m-only { display: none; }

.slider .slick-arrow  { width: 40px; height: 40px; border: transparent; border-top:5px solid #d1d1d1; border-left:5px solid #d1d1d1; position: absolute; top: 50%; font: 0/0 a; opacity: 0.8; z-index: 1;}
.slider .slick-prev {left: 40px; transform: translateY(-50%) rotate(-45deg);}
.slider .slick-next {right: 40px; transform: translateY(-50%) rotate(135deg);}

.inner {max-width: 1200px; margin: 0 auto; padding-left: 20px; padding-right: 20px;}

.hd {background-image: url(../images/main_hd_pc.jpg); min-height: 683px; position: relative; display:block;}
.hd img {position: absolute; bottom: 0; right: 20%;} 

.hd .right-gnb {display: flex; justify-content: right;}
.hd .right-gnb .dep1 {display: inline-block; position: relative; padding: 20px;}
.hd .right-gnb .dep1 > a {display: block; font-size: 18px; color: #fff; font-weight: 200;}

.hd .box-bg {position: absolute; width: 410px; border-radius: 0 0 50px 0; padding: 20px; background-color:#094db6;bottom: -57px;}
.hd .box-bg::after {content: ""; position: absolute; display: block; width: 50vw; height: 100%; top: 0; left: 0; transform: translateX(-99.99%); background-color:#094db6;}
.hd .txt-wrap {margin-left: 65px; position: absolute;}
.hd .txt-wrap .name {font-size: 53px; text-transform: uppercase; color: #b8d4fd; margin-left: 130px; font-weight: 700;}
.hd .txt-wrap strong {font-size: 90px;text-transform: uppercase;  font-weight: 700; color: #fff; line-height: 50px;}
.hd .txt-wrap p {font-size: 20px; color: #b8d4fd;}
/* .hd .txt-wrap button {font-size: 30px; color: #fff; margin-left: 29%; margin-top: 20%;}
.hd .txt-wrap button img {left: 58%; top:93%;} */

.content2 .box-bg .slider .slick-arrow {width: 20px; height: 20px; border-top:2px solid #d1d1d1; border-left:2px solid #d1d1d1;}
.content2 .box-bg .slider .slick-prev {border: initial;}
.content2 .box-bg .slider .slick-next {left: -50px; top: 500px; transform: translateY(-50%) rotate(-45deg);}

.hd .box-bg .tit-box {margin-top: 30px; margin-bottom: 30px; margin-left: 13%;}
.hd .box-bg .tit-box .box2 {margin-top: 50px;}
.hd .box-bg .tit-box strong {font-size: 26px; font-weight: 500; color: #fff; line-height: 60px;}
.hd .box-bg .tit-box p {font-size: 18px; line-height: 28px; color: #d5e6ff; font-weight: 100;}

.content1 .sub-txt {text-align: right; margin-right: 4%;}
.content1 .cont1-copy {box-sizing: border-box; text-align: center; margin-top: 80px;}
.content1 img {width: 74px;}
.content1 .cont1-copy .tit-sction strong {font-size: 45px; font-weight: 500;}
.content1 .cont1-copy .tit-sction span {line-height:45px; color: #00357f; font-size: 18px;}

.fa-hand {
    transform-origin: 0 0 20% 0;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
} 
@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(65deg);
    }
    20%{
        transform: rotate(-45deg);
    }
    30%{
        transform: rotate(50deg);
    }
    40%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(49deg);
    }
    60%{
        transform: rotate(-10deg);
    }
    70%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.content .tit-area .txt-main {position: relative; display: inline-block; margin-bottom: 10px; font-size: 42px; font-weight: 200;}
/* .content .tit-area .txt-main .main-r {font-size: 42px; display: inline-block; } */
.content .tit-area .txt-main .main-b {font-size: 45px; font-weight: 600;}
.content .tit-area .txt-main .character {position: absolute; bottom: 0; right: 0;  width: 140px; transform: translateX(100%);}
.content .tit-area .txt-main .main-sub {font-size: 18px;}

.content2 {margin-top: 130px; position: relative; min-height: 970px;}

.content2 .box-bg { position: relative; border-radius: 50px 0 0 0; padding: 80px 0 0 80px; background: linear-gradient(to right,#0079b7,#1cc9a6 ); min-height: 660px; margin-top: 100px;}
.content2 .box-bg.type0 {background: linear-gradient(to right,#0079b7,#1cc9a6 );}
.content2 .box-bg.type1 {background: linear-gradient(to right,#0079b7,#07507b );}
.content2 .box-bg.type2 {background: linear-gradient(to right,#0079b7,#5c445f );}

.content2 .box-bg::before {content: ""; position: absolute; display: block; width: 20vw; height: 100%; top: 0; right: 0; transform: translateX(99.99%); background-color:#1cc9a6;}
.content2 .box-bg.type0::before {background-color:#1cc9a6;}
.content2 .box-bg.type1::before {background-color:#07507b;}
.content2 .box-bg.type2::before {background-color:#5c445f;}

.content2 .circle { position: absolute; width: 140px; height: 140px; top: -200px; right: -30px; border-radius: 100px; background-color: #0079b7; z-index: -5;}
.content2 .type0 .circle {background-color: #049e7f; }
.content2 .type1 .circle {background-color: #013858; }
.content2 .type2 .circle {background-color: #5c445f; }


.web-list { margin-top: -250px; }
.web-item { position: relative; padding-top: 250px; }

.web-item .txt-box {width: 50%;}
.web-item .txt-box .part1 {position: relative; font-size: 22px; font-weight: 400; color: #8ad6ff;}
.web-item .txt-box .part1 .txt-b { font-size: 45px; text-transform: uppercase; color: #fff; font-weight: 600;}
.web-item .txt-box .part1 .qr-code {position: absolute; top: 0; right: 10%; }

.web-item .txt-box .txt-sub {font-size: 18px; color: #8ad6ff; font-weight: 300; margin-bottom: 160px;}
.web-item .txt-box .subtxt-area {font-size: 16px; color: #fff; font-weight: 200;}

.web-item .txt-box .btn {background-color: #0079b7; border-radius: 10px 0 0 0; border: 2px solid #fff; padding: 0 1.5em; line-height: 30px; color: #fff; margin-top: 30px; font-size: 13px;}
.web-item .txt-box .btn:hover {background-color: #fff; color: #0079b7; font-weight: 600;}

.clear-guide { display: block; width: 100%;}
.web-item .img-area { position: absolute; top: 0; left: 50%; width: 50%; min-height: 655px; display: inline-block;}
.web-item .img-area img:not(.clear-guide) {position: absolute;}
.web-item .img-area img:nth-child(1) { top: 0; left: 0; }
.web-item .img-area img:nth-child(2) { right: 0; bottom: 0; z-index: 1; }
.web-item .txt-box .center-txt { width: 200%; color: #fff; font-size: 16px; text-align: center; margin-top: 45px; }
.web-item .txt-box .center-txt img { display: inline; }
.web-item .txt-box .center-txt .cont {margin-right: 80px; font-weight: 200;}
.web-item .txt-box .center-txt .cont img {margin-bottom: -5px;}
.web-item .txt-box .center-txt .cont strong {margin-right: 15px; font-weight: 400;}
.web-item .txt-box .center-txt .cont span {}
.web-item .mob-img img{ display: none;}

.content3 {min-height: 600px; position: relative; margin-top: 100px;}
.content3 .tit-area {margin-bottom: 130px;}

.content3 .slider-box .list-item  {position: relative;}
.content3 .slider-box .list-item .img-area {position: relative; margin-left: 10px;}
.content3 .slider-box .list-item .story-txt {opacity: 0; position: absolute; margin-left: 15px; margin-right: 15px;}
.content3 .slider-box .list-item .story-txt .txt-tit {font-size: 21px; font-weight: 600;}
.content3 .slider-box .list-item .story-txt .txt-desc {font-size: 15px; font-weight: 200;}
.content3 .slider-box .list-item:hover .img-area::after {content: ""; position: absolute; left: 0; right: 0; bottom: 0; height: 100%; width: 420px; background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.8));}
.content3 .slider-box .list-item:hover .story-txt {opacity: 1; position: absolute; bottom: 0; color: #fff; margin-bottom: 15px; padding-left: 20px;}

.content3 .slider-box .list-item .story-txt strong {font-size: 22px; font-weight: 500; color: #fff; line-height: 50px;}
.content3 .slider-box .list-item .story-txt p {font-size: 15px; font-weight: 100; color: #fff; }
.content3 .slider-box .list-item { width: 22vw; margin-right: 20px;}
.content3 .slider-box .list-item .img-area img { width: 100%; }

.content3 .circle {position: absolute; width: 140px; height: 140px; background-color: #0079b7; z-index: -10; font: 0 a; border-radius: 100px; left: 19%; bottom: -8%;}

.content3 .slider-box .slick-list { padding-left: 22vw; }
/* .content3 .slider-box .list-item { opacity:0.5;} */
.content3 .slider-box .slick-slide { opacity:0.5;}
.content3 .slider-box .slick-active,
.content3 .slider-box .slick-current { opacity: 1;}

.content4 {margin-top: 250px;}
.content4 .tit-area .txt-main .character {position: absolute; left: 0;  width: 100px; transform: translateY(-115%);}

.content4 .accordion {max-width: 1000px; margin: 0 auto; margin-top: 100px;}
.content4 input[id*="answer"] {display: none;}
.content4 input[id*="answer"] + label {display: block; padding: 10px; border: 2px solid #fff; border-bottom: 0; color: #fff;font-weight: 500; background: #0079b7;cursor: pointer; border-radius: 20px 0 0 0; font-weight: 500; font-size: 22px;}
.content4 input[id*="answer"] + label + div {height: 0; transition: all 0.35s; overflow: hidden; background: #fff; font-size: 12px;}
.content4 input[id*="answer"] + label + div p {display: inline-block;  padding: 20px; line-height: 25px; font-size: 16px; font-weight: 300;}
.content4 input[id*="answer"]:checked + label + div {height: auto;}


.ft {min-height: 400px; background-color: #24344b; margin-top: 50px;}
.ft .ft-tit {text-align: center; padding-top: 60px;}
.ft .ft-tit img {width: 100px;}
.ft .ft-tit p {font-size: 18px; color: #fff; padding-top: 25px; font-weight: 300;}
.ft .ft-tit {text-align: center;}

.ft .box-wrap {display: flex; margin: 0 auto;}
.ft .box-wrap .box {flex: 1; text-align: center; padding-top: 50px;}
.ft .box-wrap .box img {width: 30px;}
.ft .box-wrap .box p {color: #d1d1d1; font-size: 14px; margin-top: 15px; font-weight: 200;}


/* popup */
#show {position: absolute; top: 27%; left: 33%; font-size: 22px; color: #fff;transform: translateY(100%); transition: transform 0.3s; z-index: 10;}
#show.active  {transform: translateY(0);} 

.modal {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color:rgba(0, 0, 0, 0.3); z-index: 1000; opacity: 0; visibility: hidden; display: flex; justify-content: center; align-items: center; }
.modal.show {opacity: 1; visibility: visible; transition: all .5s;}
.modal.show .modal-content { transition: all .5s;}
.modal .modal-window {position: relative;}
.modal .modal-content { max-height: 653px; }
.modal .modal-content img { vertical-align: top; width: 100%; }
.modal .modal-content .modal-pc {display: inline-block;}
.modal .modal-content .modal-mob {display: none;}

.modal .modal-close {position: absolute; right: 0; top: 0; padding: 0 20px; margin-top: 10px; margin-right: 10px; font-size: 22px; color:#0079b7 ;}


#wrapper-quick-menu {width: 100%; height: 100%}
.interno-quick-menu {margin: 0; display: flex}
.trigger-quick-menu,.trigger-chiudi-quick-menu {
    display: flex;
    justify-content: center;
    flex: 1;
    transition: all .8s;
    align-items: center;
    width: 20px;
    height: 20px;
    position: fixed;
    margin: 0;
    bottom: 40px;
}
.trigger-quick-menu{opacity:1}
.trigger-chiudi-quick-menu{opacity:0;}

#quick-menu-mobile {display: none}
#quick-menu-mobile~.apri-quick-menu {
    border: 0;
    color: #fff;
    background-color: #1e4e96;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 25px;
    bottom: 30px;
    padding: 4px;
    transition: all .5s;
    display: flex!important;
    justify-content: center;
    text-decoration: none;
    z-index: 9999;
    font-size: 30px;
    transform-origin: center;
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}

#quick-menu-mobile:checked,#quick-menu-mobile:checked~.apri-quick-menu {
    background-color: #132c52;
    box-shadow: 0 2px 4px rgba(0,0,0,.15),0 4px 8px rgba(0,0,0,.2);
	-webkit-tap-highlight-color: transparent;
}

#quick-menu-mobile:checked~.apri-quick-menu .trigger-quick-menu {opacity:0;transform:rotateZ(-135deg)}
#quick-menu-mobile:checked~.apri-quick-menu .trigger-chiudi-quick-menu {opacity:1; transform:translateY(-2px)}
#quick-menu-mobile:checked~.apri-quick-menu~.contenitore {
    height: 350px;
    width: 350px;
    right: -125px;
    bottom: -125px;
    overflow: hidden;
}

.contenitore {
    width: 40px;
    height: 40px;
    position: fixed;
    display: flex;
    right: 25px;
    bottom: 30px;
    padding: 2px;
    background: #0079b7;
    border-radius: 50%;
    transition: all .5s;
    box-shadow: 0 2px 4px rgba(0,0,0,.15),0 4px 8px rgba(0,0,0,.2);
    z-index: 999;
}

[class*=cta-radial] {
    transition: opacity .4s ease-out;
    text-decoration: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: none
}

.cta-radial {
    background: 0 0;
    border: 0;
    left: 0;
    top: 0;
    color: #fff;
    opacity: 0;
}

#cta-radial-1:hover,#cta-radial-2:hover,#cta-radial-3:hover {
    transition-delay: 0s;
    color: #ff8db3;
    transform: scale(1.3)
}

#quick-menu-mobile:checked~.apri-quick-menu~.contenitore .cta-radial {
    transition: opacity 0.5s ease-out;
    opacity: 1!important;
    font-size: 30px;
    -webkit-text-stroke: .5px #000
}

#quick-menu-mobile:checked~.apri-quick-menu~.contenitore #cta-radial-1 {
    transition-delay: .5s;
    transform: translate(160px,27px);
    position: absolute;
}

#quick-menu-mobile:checked~.apri-quick-menu~.contenitore #cta-radial-2 {
    transition-delay: .35s;
    transform: translate(70px,71px);
    position: absolute;
}

#quick-menu-mobile:checked~.apri-quick-menu~.contenitore #cta-radial-3 {
    transition-delay: .15s;
    transform: translate(36px,147px);
    position: absolute;
}



@media screen and (max-width: 1030px) {
    .hd img {right: 5%;}
    .web-item .img-area { display: none;}
    .web-item .mob-img img{ width: 85%; display: inline-block;}
    .web-item .txt-box {width: 100%;}
    .web-item .txt-box .txt-sub {margin-bottom: 50px;}
    .web-item .txt-box .center-txt { width: 85%; margin-top: 30px; margin-bottom: 30px; font-size: 14px;}
    .web-item .txt-box .center-txt .cont {margin-right: 10px; margin-left: 10px; padding-top: 30px; line-height: 30px;}

    .content2 .box-bg .slider .slick-next {top: 50%;}
    .web-item .txt-box .btn {margin-left: 35%;}

}
@media screen and (max-width: 900px) {
    .modal .modal-content .modal-pc {display: none;}
    .modal .modal-content .modal-mob {display: block;}

    
    .modal .modal-content { overflow-y: scroll; }
    /* .modal .modal-content {overflow: scroll; height: 800px; width: 400px;} */
}
@media screen and (max-width: 700px) {
    .hd img {right: -2%;}
}
@media screen and (max-width: 500px) {

    .tit-area {margin-left: 0px;}
    .m-only { display: inline-block; }

    .content .tit-area .txt-main {font-size: 38px;}
    .content .tit-area .txt-main .main-b {font-size: 40px;}
    .content .tit-area .txt-main .main-sub {font-size: 18px;}

    .hd img {width: 100%; left: 0; right: 0; top: 20%;}
    .hd .box-bg {width: 100%; padding: 20px; left: 0;}
    .hd .box-bg .tit-box {margin: 0 0 15px;}
    .hd .box-bg .tit-box .box2 {margin-top: 30px;}
    .hd .txt-wrap {margin-left: -15px;}
    .hd .txt-wrap .name {font-size: 45px; margin-left: 130px;}
    .hd .txt-wrap strong {font-size: 80px;}
    .hd .txt-wrap p {font-size: 16px;}
    .hd .right-gnb {display: none;}

    .hd .txt-wrap .name {font-size: 25px;}
    .hd .txt-wrap strong {font-size: 57px;}


    #show {top: 15%; left: 1%;}

    .content1 .sub-txt {display: none;}
    .content1 .cont1-copy {margin-top: 120px;}
    .content1 .cont1-copy img {transform: translate(45deg); transition: all 0.3s ease Alternate;}
    .content1 .cont1-copy:hover img {transform: translate(720deg);}
    .web-item .img-area { display: none;}
    .web-item .txt-box .part1 .qr-code {position: absolute; top: 0; right: 0%;}
    .web-item .mob-img img{ width: 85%; display: inline-block;}
    .web-item .txt-box .txt-sub {margin-bottom: 50px;}
    .web-item .txt-box .subtxt-area {margin-top: 30px;}
    .web-item .txt-box .center-txt { width: 90%; }
    .web-item .txt-box .center-txt .cont {margin-right: 18px; margin-left: 18px;}
    .web-item .txt-box .center-txt .cont strong {margin-right: 5px;}
    .web-item .txt-box .btn {margin-left: 26%;}
    
    .content2 .box-bg { position: relative; border-radius: 50px 0 0 0; padding: 40px 0 0 40px;}
    .content2 .box-bg .slider .slick-next {left: -20px;}

    .content3 .slider-box .slick-list { padding-left: 6vw; }
    .content3 .tit-area {margin-bottom: 110px;}

    .content4 .tit-area .txt-main .character {transform: translateY(-156%);}
    /* .content4 input[id*="answer"]:checked + label + div {max-height: 335px;} */
    .content1 .cont1-copy {padding-bottom: 50px;}
    .content2 .box-bg {padding: 30px 0 0 30px;}
    .content .tit-area .txt-main .character {top: 0; transform: translateY(-100%); left: -20px;}
    
    .ft {padding-bottom: 50px;}
    .ft .box-wrap {display: block;}


}
@media screen and (max-width: 360px) {
    /* .hd .txt-wrap .name {font-size: 25px;}
    .hd .txt-wrap strong {font-size: 57px;}

    .content1 .cont1-copy {padding-bottom: 50px;}
    .content2 .box-bg {padding: 30px 0 0 30px;}
    .content .tit-area .txt-main .character {top: 0; transform: translateY(-100%); left: -20px;} */
}